/********** Template CSS **********/

/*** general classes***/

.bg-color {
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background: rgb(4, 0, 5);
    background: linear-gradient(0deg, rgb(10, 0, 26) 0%, rgb(0, 0, 0) 5%, rgba(0, 0, 0, 1) 18%, rgba(19, 0, 50, 1) 36%, rgba(4, 0, 5, 1) 43%, rgba(4, 0, 5, 1) 59%, rgba(4, 0, 5, 1) 75%, rgba(13, 0, 31, 1) 81%, rgba(19, 0, 50, 1) 87%, rgba(4, 0, 5, 1) 100%);
}

.hero-gradients {
    background-image: radial-gradient(circle at 100% 0%,
            rgba(220, 218, 255, 0.5) 5%,
            transparent 5%),
        radial-gradient(circle at 100% 0%,
            rgba(220, 218, 255, 0.2) 10%,
            transparent 10%),
        radial-gradient(circle at 100% 0%, #1a0044e9 15%, transparent 15%),
        radial-gradient(circle at 100% 0%, #1a004496 20%, transparent 20%);
}

/* .bg-color::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2200px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 96, 1) 0%, rgba(0, 0, 96, 0) 40%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 0% 100%);
} */

.glass-card {
    background: rgba(220, 218, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    /* border: 1px solid rgba(255, 240, 222, 0.5); */
}

.linea-horizontal {
    width: 30%;
    height: 3px;
    background-color: var(--bs-primary);
}

.img-icon {
    height: 50px;
    fill: var(--bs-white)
}

.img-icon-feature {
    height: 40px;
    fill: var(--bs-primary)
}

.padding-y {
    padding-top: 120px;
    padding-bottom: 100px;
}

[data-scrollto] {
    cursor: pointer;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

img.animated.pulse {
    animation-duration: 5s;
}

/*** Button ***/
.btn {
    font-weight: 500;
    transition: 0.5s;
}

.btn.btn-primary {
    color: var(--bs-dark);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: 0.5s;
}

.navbar {
    padding: 11px 0 !important;
    height: 80px;
}

.navbar .logo img {
    max-height: 50px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 45px;
    padding: 0;
    color: var(--bs-white);
    font-weight: 300;
    transition: 0.5s;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:active {
    color: var(--bs-primary);
}


.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}


/***  Header ***/
.hero-header {
    position: relative;
    margin-top: -85px;
    padding-top: 6rem;
    padding-bottom: 6rem;
    overflow: hidden;
    height: 100vh;
}

h1 {
    text-transform: uppercase;
}

.hero-top-space {
    height: 300px;
}

.img-hero {
    max-height: 900px;
    float: right;
}

/* .hero-header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--bs-background-polygon);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 33% 100%);
} */

.hero-header .container {
    height: calc(100vh - 80px);
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--bs-light);
}


/* FEATURES */

.img-feature {
    position: relative;
}

.img-feature img {
    position: relative;
    z-index: 10;
}

/*** Technical Feature ***/

.feature-video video {
    width: 100%;
    margin-bottom: 18px;
}

.feature-item {
    background-color: var(--bs-gray-dark);
}

.feature-item .border {
    position: relative;
    border: solid 4px var(--bs-dark) !important;
    z-index: 1;
}

/*** Deal ***/
.deal {
    position: relative;
    background: url(../img/bg.png) center center no-repeat;
    background-size: cover;
}

.deal::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.deal .bg-white {
    position: relative;
    z-index: 1;
}

.deal .cdt span {
    display: block;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    text-transform: capitalize;
}

/*** How To Use ***/
.how-to-use {
    background: rgba(220, 218, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.how-to-use .container {
    position: relative;
    z-index: 3;
}


.how-to-use .border {
    border-color: rgba(220, 218, 255, 0.25) !important;
}

/*** Personalize ***/
.personalize {
    background-image: url("/img/fondo-perz.png");
    height: 50vh;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.personalize-opacity {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(20, 1, 44, 0.726);
    height: 100%;
    width: 100%;
}

.personalize-opacity h4 {
    text-shadow: 1px 1px 10px #08000e, 1px 1px 60px #08000e;
}

/*** Product ***/
.product-item {
    transition: 0.1s;
}

.product-item:hover {
    border-width: 0 !important;
    box-shadow: 0 0 35px rgba(253, 218, 198, 0.5)
}

.product-item:hover a.btn {
    color: var(--bs-dark);
    background: var(--bs-primary);
}

.product-img {
    max-height: 400px;
}

/*** house ***/

.house .house-carousel {
    position: relative;
    z-index: 1;
}

.house-carousel .owl-item img {
    width: 100%;
    height: 100%;
    border-color: rgba(255, 255, 255, 0.2) !important;
    margin: 0 auto 20px auto;
}

.house-carousel .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.house-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    transition: 0.5s;
}

.house-carousel .owl-dot.active {
    color: var(--bs-primary);
    border-color: rgba(253, 218, 198, 0.5);
}

/*** Contact ***/
.contact-info-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.contact-info-item .border {
    position: relative;
    border-color: rgba(255, 255, 255, 0.2) !important;
    z-index: 1;
}

/*** final ***/
.final {
    position: relative;
    background: url(../img/end-img.avif) center center no-repeat;
    background-size: cover;
    height: 930px;
}

.final .container {
    position: relative;
    z-index: 1;
}

.final-title {
    margin-top: 82%;
    background: linear-gradient(to top, #DCDAFF 16%, #FDDAC6 91%, #FDDAC6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--bs-body);
    font-weight: normal;
    transition: 0.3s;
}

.footer .btn.btn-link:hover {
    color: var(--bs-primary);
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    border-top: 3px solid var(--bs-primary);
}

.footer .copyright a {
    color: var(--bs-body);
}

.footer .copyright a:hover {
    color: var(--bs-primary);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 3px solid var(--bs-primary);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;


}




@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        padding: 0 15px;
        background: var(--bs-dark);
    }

    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .hero-top-space {
        height: 100px;
    }

    .img-hero-container {
        order: 2;
    }

    .img-hero {
        display: block;
        max-height: 500px;
        float: none;
        margin: 0 auto;
        margin-top: -40px;
    }

    .feature-hr {
        margin: auto;
    }

    .final {
        background-size: 880px;
        height: auto;
    }

    .final .container {
        padding-right: 36px;
        padding-left: 36px;
    }

    .final-title {
        margin-top: 106%;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
    }
}